@{
    ViewData["Title"] = "Home Page";
}
    <div class="main-container" >
        <h1>Задача розподілу майна</h1>
        <div class="description">
            <div class="description-text">
                <h2>Опис задачі</h2>
                <p>
                    Два партнери-бізнесмени за деяких причин вирішили розділити свій бізнес, у склад якого входять 11 магазинів. Координати розміщення магазинів (х, у) і оціночна вартість (с) кожного відомі. Місто має форму прямокутника 20×20. Потрібно визначити границю розмежування між магазинами так, щоб різниця між сумарними оціночними вартостями отриманих підмножин магазинів була мінімальною.
                </p>
            </div>
            <div class="description-example">
                <img src="/img/Map.jpg">
                <span class="img-description"><i>Приклад карти</i></span>
            </div>
        </div>
        <div class="example">
            <div class="img-example">
                <img src="/img/ChartExample.jpg">
            </div>
            <div class="example-text">
                <h2>Отримання результатів</h2>
                <p>Рішення задачі обраним алгоритмом конвертується в графік, на якому червоні точки - магазини, зелена пряма - лінія поділу магазинів. Разом із графіком подається таблиця зі вказаними координатами магазинів, їх оціночною вартістю та результатом роботи алгоритму.</p>
            </div>            
        </div>
        <div class="stat">
            <div class="stat-text">
                <h2>Аналіз результатів</h2>
                <p>Дослідження отриманих результатів тестів з різними початковими умовами та вхідними данними. Встановлення взаємозв'язків між отриманими даними та наглядна ілюстрація залежностей у вигляді графіків.</p>
            </div>
            <div class="img-stat">
                <img src="/img/StatTest.jpg">
            </div>
        </div>
    </div>